body {
   padding: 30px;
   background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
   width: 400px;
   color: white;
}

h1 {
   font-size: 40px;
}

h2 {
   font-size: 24px;
}

h3 {
   margin-top: 35px;
   font-size: 20px;
}

input {
   width: 100%;
   background-color: #e7c8c842;
   border: 1px solid #dfaa1257;
   border-radius: 3px;
   height: 34px;
   margin-bottom: 15px;
   color: white;
   font-weight: 400;
   font-size: 19px;
}


button {
   width: 120px;
   height: 34px;
   border-radius: 4px;
   border: none;
   background-color: #269e2e;
   font-size: 16px;
   font-family: math;
   font-weight: 600;
   color: white;
}